.councilspage_maindiv-0 {
    background-color: rgb(30, 30, 30);
    color: white;
}

body {
    margin: 0px;
}

.councilspage_maindiv-1 {
    padding-right: 5%;
    padding-left: 5%;
}

.councilspage_maindiv-2 {
    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.councilspage_maindiv-3 {
    padding-top: 4rem;
    padding-bottom: 7rem;
}

.councilspage_header-0 {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-bottom: 5rem;
}

.councilspage_header-1 {
    text-align: center;
}

.councilspage_header-2 {
    width: 100%;
    max-width: 48rem;
}

.councilspage_header-21 {
    margin-right: auto;
    margin-left: auto;
}

.councilspage_header-3-h2 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
}

.councilspage_body-0 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.councilspage_council-0 {
    display: grid;
    overflow: hidden;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: auto;
    border-top-style: solid;
    border-top-color: black;
    border-right-style: solid;
    border-right-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-left-style: solid;
    border-left-color: black;
    background-color: rgb(16, 15, 15);
    border-radius: 50px;
}

.councilspage_council-0-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

h3 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
}

.councilspage_council_tag-wrapper-0 {
    margin-top: 1rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
}

.councilspage_council_tag-wrapper-1 {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.councilspage_council_tag {
    display: inline-flex;
    padding-top: 0.175rem;
    padding-right: 0.5rem;
    padding-bottom: 0.175rem;
    padding-left: 0.5rem;
    justify-content: center;
    align-items: center;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #f2f3f3;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #f2f3f3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f2f3f3;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #f2f3f3;
    background-color: #f2f3f3;
    color: black;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
}

.councilspage_council_info {
    margin-top: 2rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
}

.councilspage_council_info_text-size {
    font-size: 1.125rem;
}

p {
    margin-bottom: 0rem;
}

.councilspage_council_button-wrapper-0 {
    margin-top: 2rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
}

.councilspage_council_button-wrapper-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.councilspage_council_button-0 {
    padding-top: 0.75rem;
    padding-right: 1.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
    text-align: center;
    text-decoration: none;
}

.councilspage_council_button-1 {
    background-color: transparent;
    color: black;
}

.councilspage_hover-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.councilspage_hover-button:hover {
    background-color: #474a4a;
    transform: scale(1.1);
}

.councilspage_council_button2-0 {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.councilspage_council_button2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
}

.councilspage_council_button2-3 {
    padding-top: 0.25rem;
    padding-right: 0rem;
    padding-bottom: 0.25rem;
    padding-left: 0rem;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: transparent;
    color: var(--u-relume-variable-color-neutral-1);
    line-height: 1;
    text-decoration: none;
}

.councilspage_council_button2-4 {
    display: flex;
    width: 1rem;
    height: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}